*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.view1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  background: white;
  color: black;
  .hamburger {
  font-size: 1.5em;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

    .nav-links {
    display: none; /* hidden by default on mobile */
    flex-direction: column;
    gap: 1em;
    background: #222;
    position: absolute;
    top: 60px; /* adjust based on navbar height */
    right: 1em;
    padding: 1em;
    border-radius: 8px;
    }

    .nav-links a {
    text-decoration: none;
    color: white;
    }

    .nav-links.active {
    display: flex; /* show when active */
    }
}

.view2{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .heroimg{
    width: 100%;
    max-height: 400px;  /* keeps it from getting too tall */
    overflow: hidden; 
    padding: 2em;
    padding-bottom: 0;
    img{
    width: 100%;
    height: 100%;
    object-fit: cover;      /* fills container */
    object-position: center; /* always shows center */
    border: 2px solid black;
    }
  }
  .herocontent{
    width: 100%;
    padding: 2em;
    padding-top: 0;
    p{
        line-height: 1.5em;
        font-weight: 200;
    }
  }
}